snippet sh "set sheband"
#!/bin/bash
endsnippet

##  Variables
snippet svar "Check/set variable"
[ -z "${1:VAR}" ] && $1=$2 || $1=$2:${$1}
$3
endsnippet

## Functions
snippet func
${1:my_func} () {
	$2
}
$3
endsnippet
